body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Verdana", Geneva, sans-serif;
}
h1,h2 {
	margin-left: 3%;
	text-decoration: underline;
	color : #6495ed;
}
h1 {
	font-size: 35px;
}
hr {
	border-color:#6495ed;
}
strong {
	color:#6495ed;
}